<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<h4 class="cards-title col-lg-6" th:text="#{global.training.title}"> Trainig </h4>
			</div>
			<div class="col-sm-12">
				<div class="line">
					<hr>
				</div>
			</div>

			<form th:action="@{saveTrainingForm}" method="POST" th:object="${trainingForm}" autocomplete="off">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-xl-12">

										<div class="form-group row">										
											<label class="col-lg-2 col-form-label asterisk"
												th:text="#{global.trainig.subject}">Subject</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" placeholder="Enter subject here.." th:field="*{subject}"> 
												<span class="red" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></span>
											</div>
											<!-- <label class="col-lg-2 col-form-label asterisk"
												th:text="#{global.department.DepartmentDescription}">Department Description </label>
											<div class="col-lg-4">
												<input type="text" class="form-control" placeholder="Enter description here.." th:field="*{departmentDesc}"> 
												<span class="red" th:if="${#fields.hasErrors('departmentDesc')}" th:errors="*{departmentDesc}"></span>
											</div> -->
										</div>

										<div class="form-group row">
											<label class="col-lg-2 col-form-label asterisk"
												th:text="#{global.trainig.trainingPurpose}">Training Purpose</label>
											<div class="col-lg-4">
												<select class="form-control" th:field="*{trainingPurpose}">
													<option value="" selected th:text="#{global.training.select}">Select..</option>
													<option value="" > q </option>
												</select> 
												<span class="red" th:if="${#fields.hasErrors('trainingPurpose')}" th:errors="*{trainingPurpose}"></span>
											</div>
																		
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="button-footer">
					<div class="row" style="margin-bottom: 16px;">
						<div class="col-sm-6 margin">
							<a th:href="@{/activeTrainingList}" class="btn btn-outline-secondary btn-md float-left"><em class="fa fa-chevron-left"></em> &ensp;
							<span th:text="#{global.training.backToList}">Back to list </span>
							</a>
						</div>
						<div class="col-sm-6 margin">
							<button class="btn btn-primary2 btn-lg float-right" th:text="#{global.training.save}">Save</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>