<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
					<h4 class="cards-title col-lg-4" th:text="#{global.leaveTracker.title}">Add Leave</h4>
					
					<div class="col-lg-2 success-primary" id="alertMessage" th:text="${success}" th:if="${success}"></div>
					
					<div class="col-lg-8">
						<a th:href="@{/addLeaveForm}" class="btn add-btn pull-right plus" th:text="#{global.leaveTracker.addNew}">Add New</a>
					</div>		
			</div>
			
				<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
			</div>
				
				<div class=" col-sm-12 form-group text-center">		
				<label th:text="#{global.leave.leaveList}">Add Leave list  </label>
                        <a th:href="@{/activeAddLeaveList}">
                            <button class="btn btn-secondary rounded-pill active" th:text="#{global.leaveTracker.active}">Active</button></a>
                        <a th:href="@{/inActiveAddLeaveList}">
                        	 <button class="btn btn-secondary rounded-pill" th:text="#{global.leaveTracker.inActive}">In Active</button></a>
               </div>
				<div class="col-sm-12 form-group">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="example" class="display"  style="width:100%">
									<thead>
									<tr>
									    <th th:text=#{global.leaveTracker.empId}>Employee ID</th>
										<th th:text=#{global.leaveTracker.totalLeave}>Total Leave</th>
										<th th:text=#{global.leaveTracker.paidLeave}>Paid Leave</th>
										<th th:text=#{global.leaveTracker.maternityLeave}>Maternity Leave</th>
										<th th:text=#{global.leaveTracker.action}>Action</th>
									</tr>
								</thead>
									<tbody>
										<tr th:each="leaveTracker : ${addLeaveList}">
											<td th:text="${leaveTracker.empId}"></td>	
											<td th:text="${leaveTracker.totalLeave}"></td>	
											<td th:text="${leaveTracker.paidLeave}"></td>
											<td th:text="${leaveTracker.maternityLeave}"></td>										
											<td> 
				                            <a th:href="@{'/cancelAddLeaveList/' + ${leaveTracker.id}}" class="btn update" th:text="#{global.leaveTracker.cancel}"> Cancel </a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>