<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
					<h4 class="cards-title col-lg-6" th:text="#{global.sms.smsTemplate}">SMS Template </h4>
					<div class="col-lg-12">
						<a th:href="@{/SMSTemplate}" class="btn add-btn pull-right plus" th:text="#{global.sms.addNew}" >Add New</a>
					</div>		
			</div>
			
				<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
			</div>
				
				<div class=" col-sm-12 form-group text-center">		
				<label th:text="#{global.sms.smsTemplateList}"> SMS Template list  </label>
                        <a th:href="@{/activeSMSList}">
                            <button class="btn btn-secondary rounded-pill" th:text="#{global.sms.activeSMS}">Active</button></a>
                        <a th:href="@{/inActiveSMSList}">
                        	 <button class="btn btn-secondary rounded-pill active" th:text="#{global.sms.inactiveSMS}">Inactive</button></a>
               </div>
           
				<div class="col-sm-12 form-group">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="example" class="display" style="width:100%">
									<thead>
										<tr>
											<th th:text="#{global.sms.mobileNo}">MOBILE NO</th>
											<th th:text="#{global.sms.tenantId}">TENANT ID</th>
											<th th:text="#{global.sms.action}">ACTION</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="sms : ${listSMS}">
											<td th:text="${sms.additionalNo}"></td>
											<td th:text="${sms.tenantId}"></td>
											 <td>
				                            <a th:href="@{'/activeSMS/' + ${sms.id}}" class="btn update" th:text="#{global.sms.active}"> Active </a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>