<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
					<h4 class="cards-title col-lg-6" th:text="#{global.email.emailTemplate}"> Email Template</h4>
					<div class="col-lg-12">
						<a th:href="@{/emailTemplate}" class="btn add-btn pull-right plus" th:text="#{global.email.addNew}" >Add New</a>
					</div>		
			</div>
			
				<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
			</div>
				
				<div class=" col-sm-12 form-group text-center">		
				<label th:text="#{global.email.emailTemplateList}"> Email Template list  </label>
                        <a th:href="@{/activeEmailList}">
                            <button class="btn btn-secondary rounded-pill" th:text="#{global.email.activeEmail}">Active</button></a>
                        <a th:href="@{/inActiveEmailList}">
                        	 <button class="btn btn-secondary rounded-pill active" th:text="#{global.email.inactiveEmail}">Inactive</button></a>
               </div>

				<div class="col-sm-12 form-group">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="example" class="display" style="width:100%">
									<thead>
										<tr>
											<th th:text="#{global.email.templateName}">TEMPLATE NAME</th>
											<th th:text="#{global.email.emaitTo}">EMAIL ID</th>
											<th th:text="#{global.email.tenantId}">TENANT ID</th>
											<th th:text="#{global.email.action}">ACTION</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="email : ${listEmail}">
											<td th:text="${email.templateName}"></td>
											<td th:text="${email.emailTo}"></td>
											<td th:text="${email.tenantId}"></td>
											 <td>
				                            <a th:href="@{'/activeEmail/' + ${email.id}}" class="btn update" th:text="#{global.email.active}"> Active </a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>