<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
					<h4 class="cards-title col-lg-6" th:text="#{global.resetPwd.resetPwd}">Reset Password</h4>
					<div class="col-lg-4">
					<div class="success-primary" id="alertMessage" th:text="${success}" th:if="${success}"></div>
					</div>		
			</div>
			
			<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
			</div>

				<div class="col-sm-12 form-group">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="example" class="display"  style="width:100%">
									<thead>
										<tr>
											<th th:text="#{global.resetPwd.userName}">USERNAME</th>
											<th th:text="#{global.resetPwd.loginId}">LOGIN ID</th>
											<th th:text="#{global.resetPwd.isActive}">ACTIVE</th>
											<th th:text="#{global.resetPwd.pwdExpireDate}">PASSWORD EXPIRE DATE</th>
											<th th:text="#{global.resetPwd.lastLogin}">LAST LOGIN</th>
											<th th:text="#{global.resetPwd.action}">ACTION</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="reset : ${listUser}">
											<td th:text="${reset.username}"></td>
											<td th:text="${reset.loginId}"></td>
											<td th:text="${reset.isActive}"></td>
											<td th:text="${reset.passwordExpireDate}"></td>
											<td th:text="${reset.lastLogin}"></td>
											<td><a
												th:href="@{resetPassword/{passwordToken}(passwordToken=${reset.passwordToken})}"
												class="btn update" th:text="#{global.resetPwd.resetPwd2}"> Reset Password </a>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>