<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<h4 class="cards-title col-lg-4" th:text="#{global.activekra.title}">KRA</h4>
				<div class="col-lg-2 success-primary" id="alertMessage" th:text="${success}" th:if="${success}"></div>
				<div class="col-lg-8">
					<a th:href="@{/addKRA}" class="btn add-btn pull-right plus" th:text="#{global.activekra.addkra}">Add KRA</a>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="line">
					<hr>
				</div>
			</div>
			
			<!-- <div class=" col-sm-12 form-group text-center">
				<label th:text="#{global.activekra.kraList}"> KRA list </label> 
				<a th:href="@{/activeKRAList}">
					<button class="btn btn-secondary rounded-pill active" th:text="#{global.activekra.active}">Active</button>
				</a> 
				 <a th:href="@{/inactiveKRAList}">
					<button class="btn btn-secondary rounded-pill" th:text="#{global.activekra.inactive}">Inactive</button>
				</a>
			</div> -->

			<div class="col-sm-12 form-group">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="example" class="display" style="width: 100%">
								<thead>
									<tr>
										<th th:text="#{global.activekra.kra}">KRA</th>
										<th th:text="#{global.activekra.kraDescription}">KRA Description</th>
										<th th:text="#{global.activekra.weightage}">Weightage</th>
										<th th:text="#{global.activekra.department}">Department</th>
										<th th:text="#{global.activekra.grade}">Grade</th>
										<th th:text="#{global.activekra.action}">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list : ${kraList}">
										<td th:text="${list.kraName}"></td>
										<td th:text="${list.kraDescription.description}"></td>
										<td><span th:text="${list.weightage}"></span>%</td>
										<td th:text="${list.department}"></td>
										<td th:text="${list.grade}"></td>
										<td><a th:href="@{'/updateKRA/' +${list.id}}" class="btn update" th:text="#{global.activekra.edit}"> Edit </a> 
										<!-- <a th:href="@{'/deactiveKRA/' + ${list.id}}" class="btn update" th:text="#{global.activekra.deactive}"> Deactive </a> -->
										<a th:href="@{'/deleteKRA/' + ${list.id}}" class="btn update" th:text="#{global.activekra.delete}"> Delete </a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>